node_modules/
npm-debug.log
yarn-error.log
package-lock.json
.DS_Store

*.hex
*.elf
*.eep
*.o
*.bin
*.out
*.d
build/

.vscode/
*.code-workspace

Thumbs.db
.DS_Store

logs/
*.log
tmp/
*.tmp


/dist
/out
/.cache
/.parcel-cache
/.turbo
